@font-face {
  font-family: "FenulVF";
  src: url("FenulVF.woff2") format("woff2-variations");
}

@font-face {
  font-family: "SaansVF";
  src: url("SaansVF.ttf") format("woff2-variations");
}

:root {
  --bg: #111;
  --text: #eee;
  --primary: #00A2FF;
  --brown: #b6b197;
}

* {
  margin: 0;
  padding: 0;
  font-variant-ligatures: common-ligatures;
  font-size: 24px;
  /* line-height: 27px; */
}

body {
  background-color: var(--bg);
  color: var(--text);
  margin: auto;
  width: 85%;
  font-family: SaansVF;
  font-variation-settings: "wght" 470;
}

::-moz-selection {
  /* color: var(--bg); */
  background: var(--primary);
}

::selection {
  /* color: var(--bg); */
  background: var(--primary);
}

img {
  max-height: 100%;
  max-width: 100%;
}

hr {
  border: none;
  border-top: 2px var(--text) solid;
}

hr,
.title_parent {
  margin: 6.5vw 0 7vw;
}

h2,
h3,
h4 {
  font-family: SaansVF;
  font-weight: normal;

  font-size: 1rem;
}

h1 {
  font-size: min(25vw, 500px);
  font-family: FenulVF;
  color: var(--primary);
  transition-timing-function: ease;
  transition-property: font-variation-settings;
  text-align: center;
}

h2 {
  margin-bottom: 1rem;
  font-variation-settings: "wght" 670;
  letter-spacing: .06rem;
}

p {
  font-family: SaansVF;
  font-weight: 380;
  margin-bottom: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.row>div {
  flex: calc(50% - 1em);
}

@media (max-width: 800px) {
  .row>div {
    flex: 100%;
  }
}

.glyph-sample {
  font-family: FenulVF;
  font-size: 6.5vw;
  line-height: 110%;
  word-wrap: break-word;

  transition-duration: 500ms;
  transition-property: font-variation-settings;
}

.custom-select>*,
.custom-select {
  font-size: .8rem;
}

.custom-select {
  display: inline-block;
  position: relative;

  border: 3px solid var(--text);
  border-radius: 0.7em;
  margin: 0 1em 2em 0;
}

.custom-select::before {
  content: "^";
  transform: rotate(180deg);
  pointer-events: none;
  position: absolute;
  right: 0.5em;
  top: 0.3em;
}

.custom-select>select {
  padding: 0.4em 2em 0.5em 1em;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  color: var(--text);
}

.title_parent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title_parent>svg,
.title_parent>img {
  width: 200%;
  position: absolute;
  z-index: -1;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 3rem;
}

.buttons>a {
  flex: calc(25% - 3rem);

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1.5rem 0;
  color: var(--text);
  text-decoration: none;
  border-radius: 15px;
  border: 3px solid var(--text);
}

.buttons>a:hover,
.custom-select:hover,
.custom-select:hover>select {
  background-color: var(--brown);
  color: var(--bg);
  border-radius: 15px;
}

.buttons>.inactive {
  text-decoration: line-through;
}

.buttons>.inactive:hover {
  background-color: var(--bg);
  color: var(--text);
}

@media (max-width: 1000px) {
  .buttons>a {
    flex: calc(50% - 1rem);
  }
}

@media (max-width: 400px) {
  .buttons>a {
    flex: 100%;
  }
}

.vyrad>img {
  width: 100%;
}

.fenulis p {
  font-family: FenulVF;
  word-break: break-all;
  font-size: 4rem;
}

p>a,
p>a:visited {
  color: var(--text);
}

.textparent>h2 {
  color: red !important;
}

.buttons>a>img {
  position: absolute;
  /* right: 3rem; */
  /* top: 0rem; */
  width: 5rem;
  transition: 500ms ease;
  rotate: -30deg;
}

.buttons>a>img:hover {
  rotate: -390deg;
}